# DataAnalysis_Prod

In this notebook, the AMZ_Prod file is cleaned.

In [1]:
# Import packages
import pandas as pd
import numpy as np

In [10]:
# Read data
prod_df = pd.read_csv("Data/prod.csv")

In [11]:
# Shape to get the dimension of the dataframe
prod_df.shape

(568, 2)

In [12]:
# Check for null values
prod_df[prod_df["l2_category"].isnull()]

                                 asin l2_category
39   54ccc7823085512129375ff59c254818         NaN
306  7a8a8ba0863e6eee5757796a666d78fd         NaN

In [13]:
# Replacing Nan values to the category "other"
prod_df["l2_category"] = prod_df["l2_category"].fillna('other')

In [14]:
# Check for Nan again
prod_df[prod_df["l2_category"].isnull()]

Empty DataFrame
Columns: [asin, l2_category]
Index: []

In [16]:
# Save file for later use.
prod_df.to_csv('Data/Cleaned_prod.csv')